<div ng-app="form">
  <form name="user">
    <label>email</label
    ><input type="email" name="email" ng-model="email" required />
    <label>number</label
    ><input
      type="text"
      name="numb"
      required
      ng-model="numb"
      ng-pattern="[a-z]"
      ng-maxlength="5"
    />

    <span ng-show="user.email.$invalid">error</span>
    <span ng-show="user.numb.$invalid">numb error</span>
    <div ng-messages="user.numb.$error">
      <div ng-message="required">required</div>
    </div>
  </form>
</div>
