<!-- index.html -->

<!DOCTYPE html>
<html>
  <head>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="app.js"></script>
  </head>

  <!-- apply our angular app to our site -->
  <body ng-app="note">
    <div ng-controller="noteCtrl">
      <ul>
        <li ng-repeat="note in noteList">
          <span ng-if="!note.isEditing"> {{note.name}} </span>
          <input ng-if="note.isEditing" type="text" ng-model="note.name" />

          <a href="#" ng-click="editMission(note.id,note.isEditing)"
            ><span ng-if="!note.isEditing">编辑 </span>
            <span ng-if="note.isEditing">完成 </span>
          </a>
          <a href="#" ng-click="removeMission(note.id)"><span> 删除 </span></a>
        </li>
      </ul>
      <input type="text" ng-model="noteName" />
      <button ng-click="addMission()">添加</button>
    </div>
  </body>
</html>
